
html, body {
  height: 100%;
}

body {
  background: #efefef;
  color: #121221;
  font: 700 14px/1 Montserrat, sans-serif;
  letter-spacing: 0.125em;
  text-align: center;
  text-transform: uppercase;
}
#title{
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #7fff00;
  height: 90px;
}
#left{
  margin-top: 50px;
  width: 43%;
  height: 500px;
  float: left;
  height: 50%;

}
#camera_text{
  margin-top: 30px;
  width: 400px;
  height: 30px;
  margin-left: 100px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: black;
  font-size: 2em;
}
#webcam-container{
  width: 400px;
  height: 400px;
  margin-left: 100px;

}

.button{
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #7fff00;
}

#time{
  margin-top: 20px;
  width: 100%;
  float: left;
  text-align: center;
  height: 50%;
  font-size: 2em;
}

#right{
  text-align: left;
  width: 55%;
  height: 500px;
  float: left;
  height: 50%;
}

#gameexplaition{
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 2em
}

#gameexplaition2{
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 2em
}

#gameexplaition3{
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 2em
}

#gameexplaition4{
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 2em
}

#gameexplaition5{
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 2em
}

h1 {
  color: #9c89f7;
  font-size: 5em;
  display: block;
  margin-top: 0.67em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  color: #9c89f7;
  font-size: 2em;
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

}

.btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  margin: 1em;
  padding: 1em 2em;
  text-transform: inherit;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.btn-1 {
  color: #9c89f7;
}
.btn-1:hover {
  -webkit-animation: halftone 1s forwards;
          animation: halftone 1s forwards;
  background: radial-gradient(circle, #9c89f7 0.2em, transparent 0.25em) 0 0/1.25em 1.25em, radial-gradient(circle, #9c89f7 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em 1.25em;
  color: #e4f789;
}

@-webkit-keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}

@keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}
.btn-2 {
  color: #82f6d8;
}
.btn-2:hover {
  -webkit-animation: stripes-move 0.75s infinite linear;
          animation: stripes-move 0.75s infinite linear;
  background: repeating-linear-gradient(45deg, #82f6d8 0, #82f6d8 0.25em, transparent 0.25em, transparent 0.5em);
  color: #f682a0;
}

@-webkit-keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

@keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}
.btn-3 {
  color: #d3f169;
}
.btn-3:hover {
  -webkit-animation: sawtooth 0.35s infinite linear;
          animation: sawtooth 0.35s infinite linear;
  background: linear-gradient(45deg, #d3f169 0.5em, transparent 0.5em) 0 0/1em 1em, linear-gradient(-45deg, #d3f169 0.5em, transparent 0.5em) 0 0/1em 1em;
  color: #8769f1;
}

@-webkit-keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}

@keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}
.btn-4 {
  color: #eea163;
}
.btn-4:hover {
  -webkit-animation: zigzag 1s linear infinite;
          animation: zigzag 1s linear infinite;
  background: linear-gradient(135deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(225deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(315deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0, linear-gradient(45deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0;
  background-size: 0.75em 0.75em;
  color: #63b0ee;
}

@-webkit-keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0 , -0.75em 0;
  }
}

@keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0 , -0.75em 0;
  }
}
.btn-5 {
  color: #7cf07f;
}
.btn-5:hover {
  -webkit-animation: blinds 0.75s linear forwards;
          animation: blinds 0.75s linear forwards;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #7cf07f), color-stop(25%, transparent)) 0 0/0.5em 0.5em, -webkit-gradient(linear, left bottom, left top, color-stop(50%, #88d6f3), color-stop(50%, transparent)) 0 0/1em 1em;
  background: linear-gradient(0deg, #7cf07f 25%, transparent 25%) 0 0/0.5em 0.5em, linear-gradient(0deg, #88d6f3 50%, transparent 50%) 0 0/1em 1em;
  color: #f07ced;
}

@-webkit-keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}

.Menu1class {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 1em;
  text-align: center;
  }

.Menu1class:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.Menu2class {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 1em;
    text-align: center;
  }

.Menu2class:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.Menu3class {
      width: 140px;
      height: 45px;
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      margin: 1em;
      text-align: center;
  }

.Menu3class:hover {
      background-color: #2EE59D;
      box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.Menu4class {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin: 1em;
        text-align: center;
}

.Menu4class:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.Menu5class {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin: 1em;
        text-align: center;
}

.Menu5class:hover{
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.Menu6class {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin: 1em;
        text-align: center;
}

.Menu6class:hover{
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}
